<div class="comment comment-<%= comment.id %>", style="margin-bottom: 20px">
  <div class="two-between", style="padding: 10px 0">
    <div class="comment-user">
      <%= image_tag comment.user.avatar%>
      <%= link_to comment.user.name_or_email, user_path(comment.user) %>
    </div>
    <% if current_user == comment.user %>
      <%= button_to 'Удалить', [movie, comment], method: :delete %>
    <% end %>
  </div>
    <hr style="margin-bottom: 10px">
     <%= comment.body %>
</div>