<!--
- Banner Section
-->
<%= render partial: 'movies/sections/banner-section' %>

<!--
- Comedies section
-->
<a href="/genres/комедия" class="section-heading">Комедии</a>
<%= render partial: 'movies/sections/slider-section', locals: { object: @comedies } %>

<!--
  - NEWS
-->
<p class="section-heading">Новости</p>
<%= render partial: 'movies/sections/news-section' %>

<!--
- Action Section
-->
<a href="/genres/боевик" class="section-heading">Боевики</a>
<%= render partial: 'movies/sections/slider-section', locals: { object: @actions }  %>

<!--
- Fantastic Section
-->
<a href="/genres/фантастика" class="section-heading">Фантастика</a>
<%= render partial: 'movies/sections/slider-section', locals: { object: @fantastics }  %>

<!--
- Cartoon Section
-->
<a href="/genres/мультфильм" class="section-heading">Мультфильмы</a>
<%= render partial: 'movies/sections/slider-section', locals: { object: @cartoons }  %>

<!--
- Recommendations Section
-->
<p class="section-heading">Рекомендации</p>
<%= render partial: 'movies/sections/slider-section', locals: { object: @advise }  %>

<!--
- Genre Section
-->
<p class="section-heading">Жанры</p>
<%= render partial: 'movies/sections/genres-section' %>
