<!-- Banner Section -->
<%= render partial: 'shared/banner-section' %>

<section class="movies">
  <!-- Filter -->
  <%= render partial: 'shared/filter-section' %>

  <!-- Movies -->
  <div class="movies-grid">
    <% @movies.each do |movie| %>
      <%= render partial: 'shared/movie-card', locals: { object: movie } %>
    <% end %>
  </div>
</section>

<!-- Recommendations Section -->
<%= render partial: 'shared/advise-section' %>

<!-- Category Section -->
<%= render partial: 'shared/category-section' %>