<section class="movie">

  <!--
    - Movie Title
  -->
  <h2 class="section-heading">
    <%= @movie.name_ru %>
  </h2>

  <!--
    - Movie Metadata
  -->
  <div class="metadata">
    <div class="part-metadata">

      <!-- YEAR -->
      <i class="fa-solid fa-calendar"></i>
      <p>
        <%= @movie.year %>
      </p>

      <!-- MOVIE LENGTH -->
      <div class="time">
        <i class="fa-solid fa-clock"></i>
        <p>
          <%= @movie.film_length %>
        </p>
        <p>минут</p>
      </div>

    </div>
    <div class="part-metadata">
      <bold>Актеры:</bold>

      <!-- ACTORS -->
      <p>
        Юрий Борисов, Стася Милославская, Афина Кондрашова
      </p>

    </div>
  </div>

  <!--
    - Movie Iframe
  -->

  <div class="iframe-container">
    <iframe src=<%= @movie.iframe_url %> frameborder="0" style="width: 100%; height: 100%" allowfullscreen="true"></iframe>
  </div>

  <!--
    - Movie Trailer
  -->

  <div class="buttons">
    <%= link_to @movie.trailer_url, class: 'btn btn-gray' do %>
      <div class="btn-wrapper">
        <i class="fa-brands fa-youtube" style="text-align: center"></i>
        <p style="text-align: center">Трейлер</p>
      </div>
    <% end %>
    <%= link_to @movie.trailer_url, class: 'btn btn-gray' do %>
      <div class="btn-wrapper">
        <i class="fa-solid fa-bookmark" style="text-align: center"></i>
        <p style="text-align: center">Смотреть позже</p>
      </div>
    <% end %>
    <%= link_to @movie.trailer_url, class: 'btn btn-gray' do %>
      <div class="btn-wrapper">
        <i class="fa-solid fa-share" style="text-align: center"></i>
        <p style="text-align: center">Поделиться</p>
      </div>
    <% end %>
  </div>

  <!--
    - Movie Description
  -->

  <div class="metadata movie-information">
    <%= tag.div @movie.rating_kp, class: 'rating'%>
    <div class="description">
      <%= tag.span @movie.description, class: 'description'%>
<!--      <button class="description-btn" >Развернуть</button>-->
    </div>
  </div>

</section>

<!--
  - Movie Recommendation
-->

<%= render partial: 'movies/partial/movies-section', locals: {
  :object => @recommendations,
  :section_name => "С этим фильмом смотрят",
  :category_url => movies_path(@movie)
} %>