<%= form_with model: @user, html: {class: 'profile'} do |f| %>

    <!--
    - User Image
    -->
    <% if @user.is_avatar? %>
      <%= image_tag @user.avatar, class: 'user-image' if @user.avatar.attached? %>
    <% else %>
      <img src="http://assets.stickpng.com/thumbs/585e4beacb11b227491c3399.png" alt="poster", class="user-image">
    <% end %>

    <!--
    - Change avatar field
    -->
    <%= f.file_field :avatar %>

    <!--
    - User name
    -->
    <h2 class="user-name">
      <%= f.text_field :name, placeholder: 'Name', class: 'input-text-white' %>
    </h2>

  </div>

  <!--
  - Submit changes
  -->

  <%= f.submit 'Сохранить', class: 'btn-red', style: "width: 100%; text-align: center; padding: 20px 0"%>

<% end %>