<header class="">
  <div class="navbar">

    <!--
      - menu button for small screen
    -->
    <button class="navbar-menu-btn">
      <span class="one"></span>
      <span class="two"></span>
      <span class="three"></span>
    </button>


    <a href="/" class="navbar-brand">
      <%= image_tag 'header/logo' %>
    </a>

    <!--
      - navbar navigation
    -->

    <nav class="">
      <ul class="navbar-nav">

        <li> <a href="/" class="navbar-link">Главная</a> </li>
        <li> <a href="/categories/movie" class="navbar-link">Фильмы</a> </li>
        <li> <a href="/categories/series" class="navbar-link">Сериалы</a> </li>
        <li> <a href="/categories/cartoon" class="navbar-link">Мультфильмы</a> </li>

      </ul>
    </nav>

    <!--
      - search and sign-in
    -->

    <div class="navbar-actions">

      <%= form_tag search_path, method: :get, class: 'navbar-form' do %>
        <%= search_field_tag :search, params[:search], id:'search', placeholder: "Я ищу...", class: 'navbar-form-search' %>
        <%= button_tag class: 'navbar-form-btn' do %>
          <i class="fa-solid fa-magnifying-glass"></i>
        <% end %>
        <%= button_tag class: 'navbar-form-close' do %>
          <i class="fa-solid fa-circle-xmark"></i>
        <% end %>
      <% end %>

      <!--
        - search button for small screen
      -->

      <button class="navbar-search-btn">
        <i class="fa-solid fa-magnifying-glass"></i>
      </button>

      <a href=<%= new_user_session_path %> class="navbar-signin">
        <span>Войти</span>
        <i class="fa-solid fa-arrow-right-to-bracket"></i>
      </a>

    </div>

  </div>
</header>