<header class="">
  <div class="navbar">

    <!--
      - menu button for small screen
    -->
    <button class="navbar-menu-btn">
      <span class="one"></span>
      <span class="two"></span>
      <span class="three"></span>
    </button>


    <!--
      - navbar logo
    -->

    <a href="/" class="navbar-brand">
      <%= image_tag 'header/logo' %>
    </a>

    <!--
      - navbar navigation
    -->

    <nav class="">
      <ul class="navbar-nav">

        <li> <a href="/#genres" class="navbar-link">Жанры</a> </li>
        <li> <%= link_to 'Что нового', news_path, class: 'navbar-link' %> </li>
        <li> <a href="/genres/фильм" class="navbar-link">Фильмы</a> </li>
        <li> <a href="/genres/мультфильм" class="navbar-link">Мультфильмы</a> </li>

      </ul>
    </nav>

    <!--
      - search and sign-in
    -->

    <div class="navbar-actions">

      <%= form_tag search_path, method: :get, class: 'navbar-form' do %>
        <%= search_field_tag :search, params[:search], id:'search', placeholder: "Я ищу...", class: 'navbar-form-search' %>
        <%= button_tag name: nil, class: 'navbar-form-btn' do %>
          <i class="fa-solid fa-magnifying-glass"></i>
        <% end %>
        <%= button_tag name: nil, class: 'navbar-form-close' do %>
          <i class="fa-solid fa-circle-xmark"></i>
        <% end %>
      <% end %>

      <!--
        - search button for small screen
      -->

      <button class="navbar-search-btn">
        <i class="fa-solid fa-magnifying-glass"></i>
      </button>

      <% if user_signed_in? %>

        <!-- User log in -->
        <%= link_to user_path(current_user), class: 'navbar-signin' do %>
          <span><%= current_user.name_or_email %></span>

          <!-- User image -->

          <%= header_avatar %>

        <% end %>


      <% else %>

        <!-- User is not log in -->
        <%= link_to new_user_session_path, class: 'navbar-signin' do %>
          <span>Войти</span>
          <i class="fa-solid fa-arrow-right-to-bracket"></i>
        <% end %>

      <% end %>

    </div>

  </div>
</header>